Source: ros-jade-stage-ros
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libfltk1.1-dev, ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-nav-msgs, ros-jade-roscpp, ros-jade-rostest, ros-jade-sensor-msgs, ros-jade-stage, ros-jade-std-msgs, ros-jade-tf
Homepage: http://ros.org/wiki/stage_ros
Standards-Version: 3.9.2

Package: ros-jade-stage-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fluid, libboost-all-dev, ros-jade-geometry-msgs, ros-jade-nav-msgs, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-stage, ros-jade-std-msgs, ros-jade-tf
Description: This package provides ROS specific hooks for stage
