Source: ros-indigo-stage-ros
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libfltk1.1-dev, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-nav-msgs, ros-indigo-roscpp, ros-indigo-rostest, ros-indigo-sensor-msgs, ros-indigo-stage, ros-indigo-std-msgs, ros-indigo-tf
Homepage: http://ros.org/wiki/stage_ros
Standards-Version: 3.9.2

Package: ros-indigo-stage-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fluid, libboost-all-dev, ros-indigo-geometry-msgs, ros-indigo-nav-msgs, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-stage, ros-indigo-std-msgs, ros-indigo-tf
Description: This package provides ROS specific hooks for stage
