Source: ros-hydro-stage-ros
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), fluid, libboost-all-dev, libfltk1.1-dev, ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-rostest, ros-hydro-sensor-msgs, ros-hydro-stage, ros-hydro-std-msgs, ros-hydro-tf
Homepage: http://ros.org/wiki/stage_ros
Standards-Version: 3.9.2

Package: ros-hydro-stage-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fluid, libboost-all-dev, libfltk1.1-dev, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-stage, ros-hydro-std-msgs, ros-hydro-tf
Description: This package provides ROS specific hooks for stage
